<!--Cards en el body-->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img alt="..." class="card-img-top" src="../../assets/images/Desparasitante.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                Desparasitante Endogard Virbac 250g
                            </h5>
                            <p class="card-text">
                                Desparasitante para perros y gatos.
                            </p>
                        </div>
                 <!--</img> -->
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img alt="..." class="card-img-top" src="../../assets/images/Jabon.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                Jabón Asuntol Aroma Herbal 100g
                            </h5>
                            <p class="card-text">
                                Jabon eliminador de garrapatas, pulgas y piojos.
                            </p>
                        </div>
                  <!--</img> -->
                </div>
            </div>
            <div class="col">
                <div class="card">
                   <img alt="..." class="card-img-top" src="../../assets/images/Shampoo.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                Shampoo Razan 1000ml
                            </h5>
                            <p class="card-text">
                                Shampoo para perros y gatos con aroma a canela.
                            </p>
                        </div>
                  <!--</img> -->
                </div>
            </div>
            <div class="col">
                <div class="card">
                   <img alt="..." class="card-img-top" src="../../assets/images/Alimento.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                Plato Para Mascotas Ovo 8x5cm de alto
                            </h5>
                            <p class="card-text">
                                Plato para mascotas color beige con puntos oliva.
                            </p>
                        </div>
                  <!--</img> -->
                </div>
            </div>
            <div class="col">
                <div class="card">
                   <img alt="..." class="card-img-top" src="../../assets/images/Arena.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                Caja de Arena Petpy 60x40cm
                            </h5>
                            <p class="card-text">
                                Caja de arena para mascotas.
                            </p>
                        </div>
                  <!--</img> -->
                </div>
            </div>
            <div class="col">
                <div class="card">
                   <img alt="..." class="card-img-top" src="../../assets/images/Huesos.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                 Huesos Artificiales Gom
                            </h5>
                            <p class="card-text">
                                Juguetes para mascotas en forma de hueso.
                            </p>
                        </div>
                  <!--</img> -->
                </div>
            </div>

        </div>
